.contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  margin: 140px;
}
.icon-wpp {
  width: 80px;
}
form {
  display: flex;
  flex-direction: column;
  width: 70%;
  border-radius: 10px;
  color: black;
  border: 2px;
  margin: 40px;
  font-family: "Staatliches", cursive;
}

button {
  border-style: none;
  border-radius: 2px;
  height: 40px;
}

input {
  width: 100%;
  padding: 1%;
}

textarea {
  padding: 2%;
  margin: 20px;
}

.label-input {
  font-size: 24px;
  font-family: "Staatliches", cursive;
  margin: 20px;
}
h2 {
  font-family: "Staatliches", cursive;
  margin: 24px;
}
@media screen and (min-width: 200px) and (max-width: 768px) {
  .contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin: 20px;
  }
  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: none;
    color: black;
  }
}
