<<<<<<< HEAD
=======

>>>>>>> 3000279 (Actualizando proyecto)
.contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin: 24px;
<<<<<<< HEAD
=======
    flex: 1;
>>>>>>> 3000279 (Actualizando proyecto)
}
form {
    display: flex;
    flex-direction: column;
    width: 50%;
    border-radius: 10px;
    color: black;
<<<<<<< HEAD
    border: 2px;
=======
    border: 1px;
>>>>>>> 3000279 (Actualizando proyecto)
    margin: 10px;
    font-family: 'Poppins', sans-serif;
    font-family: 'Staatliches', cursive;
  }
<<<<<<< HEAD
  
=======
 .whatsapp{
  margin: 40px;
 } 
 .icon_wpp{
  width: 40px;
 }
>>>>>>> 3000279 (Actualizando proyecto)
  button {
    border-style: none;
    border-radius: 2px;
    height: 30px;
  }
  
  input {
<<<<<<< HEAD
    border-style: none;
    width: 100%;
    padding: 1%;
    color: black;
=======
    width: 100%;
    padding: 1%;
    border: 2px rgb(167, 171, 189) solid;
>>>>>>> 3000279 (Actualizando proyecto)
  }
  
  textarea {
    padding: 2%;
<<<<<<< HEAD
    border-style: none;
    color: black;
=======
    color: black;
    border: 2px rgb(167, 171, 189) solid;
>>>>>>> 3000279 (Actualizando proyecto)
  }

  .label-input{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-family: 'Staatliches', cursive;
<<<<<<< HEAD
=======
    margin: 20px;
>>>>>>> 3000279 (Actualizando proyecto)
  }
h2{
    font-family: 'Poppins', sans-serif;
    font-family: 'Staatliches', cursive;
    margin: 20px;
}
    @media screen and (min-width:200px) and (max-width:768px) {
        .contacto{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            flex-wrap: wrap;
        }
        form{
            display: flex;
            flex-direction: column;
            width: 100%;
            border: none;
            padding: 16px;
            color: black;
        }
        }